jupyterlab==4.2.5
jupyterlab-git==0.51.2
notebook
ipykernel
python-dotenv
ipywidgets
requests
openai
gradio
langchain
langchain-openai
langchain_experimental
langchain_chroma
langchain[docarray]
datasets
matplotlib
google-generativeai
anthropic
unstructured
pydub
modal
ollama
